@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansX;
  src: url(../../assets/fonts/IRANSansX-Regular.woff) format('woff');
}

*,html,body {
  font-family: 'IRANSansX', Arial, sans-serif;
  font-weight:normal;
}
.divider {
  background: #000;
}